.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #232834; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0b0a07;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f4E6d9;
  color: #0b0a07;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;

  background-color: #f4E6d9;
  border-bottom: 1px solid #0b0a07;
}

.nav-container {
  height: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo {
  text-decoration: none;
  color: #0b0a07;
}

.nav-link {
  margin-left: 20px;

  text-decoration: none;
  text-transform: capitalize;
  color: #0b0a07;

  transition: ease-in 0.2s;
}

.nav-link:hover {
  color: rgb(246, 159, 159);
  transition: ease-in 0.2s;
}

img {
  max-width: 250px;
}